#CardBackIMg{
    background-color: #908e8583;
    color: white;
  }

  .dashboardMainImg{
 min-height: 58vh;
   background-color: white !important;
    width: 100%;
}
#Order{
  /* background-image: url('../../assets/img/Bg2.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Cardimg123{
  color: rgb(9, 8, 8) !important;
  filter:drop-shadow(6px 5px 6px orange);
}
#Order:hover{
  /* background-image: url('../../assets/img/Bg3.jpg'); */
  transition: 0.8s ease;
}

#Users{
  /* background-image: url('../../assets/img/Bg7.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#Users:hover{
  /* background-image: url('../../assets/img/Bg8.jpg'); */
  transition: 0.8s ease;
}

#Restaurants{
  /* background-image: url('../../assets/img/pexels-igor-starkov-1055058.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#Restaurants:hover{
  /* background-image: url('../../assets/img/Bg6.jpg'); */
  transition: 0.8s ease;
}




@media screen and (min-width:260px) and (max-width:575px){
  .dashboardMainImg{
    height:170vh;
  }
}



@media screen and (min-width:576px) and (max-width:1200px){
  .dashboardMainImg{
    height:120vh;
  }
}
