.custom-table{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
  background-color: transparent;
  border-radius: 10px; 
  overflow: hidden;
}
td{
  background-color: white !important;
  color:rgb(3, 3, 3) !important;
  /* font-size:medium !important; */
}
.custom-table th{
height: 45px; 

}
.custom-table thead {
  background-color: transparent !important;
border-bottom: 2px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) inset;
border-top: 0px !important;
/* border-color: #b8e09b !important; */
}
th{
  background-color: transparent !important;
  color:#060606 !important;
  height: 60px !important;
  /* font-size: large !important; */
  text-transform: uppercase !important;
  /* font-weight: 600; */
 }
th:hover{
background-color: transparent !important;
}
.with-border-radius {
border-radius: 50% !important;
}
.btn-custom {
  background-color: transparent !important;
    border: none !important;
  border-radius: 50% !important;
  margin: 2px;
  }
.custom-table th,
.custom-table td {
  border: none;
  
}

.Cardimg123{
    color: rgb(9, 8, 8) !important;
  filter:drop-shadow(6px 5px 6px orange) !important;
}
#CardText{
  color: rgb(9, 8, 8);
  /* text-shadow: 1px 1px #d8c895; */
 }
#CardBackIMg{
    /* background-color: #c1bca183;  */
    color: white ;
  }