.CreateMenu{
    /* background-image: linear-gradient(rgba(235, 231, 231, 0.963),rgb(234, 224, 224)),url('../../assets/img/HomeThirdMainImg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
input[type="text"] {
background-color: transparent;
color:white;
}
#CardBackIMg1{
    background: rgb(185, 184, 202);
    background: linear-gradient(90deg, rgb(184, 181, 221) 18%, rgba(220, 227, 231, 0.88) 52%, rgb(255, 255, 255) 87%);
    color: rgb(9, 8, 8) !important;
    /* text-shadow: 1px 1px #d8c895 !important; */
    background-color: transparent;
  } 
  
  #CardText{
    color: rgb(9, 8, 8);
    /* text-shadow: 1px 1px #d8c895; */
   }

.form-control{
    background-color: transparent;
    color:white;
}