#OrderSuccessMainImg{
    /* background-image: linear-gradient(rgba(235, 231, 231, 0.963),rgb(234, 224, 224)),url('../../assets/img/HomeThirdMainImg.jpg'); */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.imgC{
    filter:drop-shadow(2px 1px 2px orange);
}
.back{
    background-color: white !important;
    border-color: orange !important;
    color: black !important;
}