.logout-login-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.back111{
  border-radius: 10px !important;
  border-color: orange !important;
}
.back1:hover{
  /* background-color:  #dbc3ed !important; */
  /* border-color: #dbc3ed !important; */
    border-radius: 10px;
}

.p2 {
  
  margin-top: 5px;
  position: relative
}
li {
  position: relative;
  /* font-size:18px; */
  position:relative;

}
ul li a{
  color:rgb(0, 0, 0);
}
ul li a.active {
  text-decoration: none;
  color: #070707;
  /* background: radial-gradient(95% 85% at 50% 50%, #dbc3ed 0, rgba(246, 220, 255, 0) 100%) !important; */
  transition: all 1s ease;
}

ul li a.active::after {
  content: '';
  height: 2px;
  width: 100%;
  color: #080808;
  position: absolute;
  left: 5px;
  bottom: 6px;
}
#HomeTag::after {
  content: '';
  height: 2px;
  background-color: #050505;
  position: absolute;
  color: #050505;
  left: 10px;
  bottom: -10px;
}

#HomeTag:hover::after {
  width: 100%;
  transition: 0.5s;
}

#HomeTag:hover {
  color: #030303;
} 

ul{
  text-decoration: none;
list-style: none;
display:flex;
flex-direction: row;
position: relative;
}

#HomeTag{
  text-decoration: none;
  color:'black';
}


.header-custom{
  background-color: rgb(239, 212, 162) !important;
  color: white !important;
  /* background: radial-gradient(circle, #e2cef1 0%, rgba(246, 220, 255, 0) 100%) !important; */

}


.navbar-brand-hidden {
  display: none;
}

.navbar-expand-lg .navbar-expand-lg-show .navbar-brand-hidden {
  display: block;
}
/* header.css */

/* Make sure the navbar toggle button is positioned to the left */
.navbar-toggler-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px; /* Adjust as needed */
  
}

/* Ensure the Navbar component has relative positioning */
.custom-navbar {
  position: relative;
}


@media screen and (min-width:250px) and (max-width:989px){
  ul{
    text-decoration: none;
  list-style: none;
  display:flex;
  flex-direction:column;
  position: relative;
  gap:5px;
  }
  #HomeTag::after{
    content: '';
    height: 2px;
    background-color: #050505;
    position: absolute;
    color: #050505;
    left: 0px;
    bottom: 0px;
  }
  #HomeTag:hover::after{
    width:50%;
  }
  ul li a.active::after {
    width:25%;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
}

@media (max-width: 991.98px) {
  .logout-login-buttons {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}